// Screen size breakpoints
$bp-xs: 376px; //mobile (max-width)
$bp-sm: 500px;
$bp-smmd: 768px; //tablet
$bp-md: 1024px; //desktop
$bp-mdlg: 1280px;
$bp-lg: 1440px;
$bp-xl: 1920px;

$font-primary: "Poppins", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;

$color-white: #fafafa;
$color-grey-dark: #3e3e3e;
$color-blue: rgb(0, 61, 134);
